<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if message.chat_room_id.nil? %>
    <div>
      <%= form.label :chat_room_id, style: "display: block" %>
      <%= form.collection_select :chat_room_id, SimpleChat::ChatRoom.all, :id, :title, prompt: true %>
    </div>
  <% else %>
    <%= form.hidden_field :chat_room_id %>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
