<!DOCTYPE html>
<html>
<head>
  <title>Simple chat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "simple_chat/application", media: "all" %>
</head>
<body>
  <% if notice %>
    <p style="color: green"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p style="color: red"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
