<%= render @chat_room %>

<%= turbo_stream_from "simple_chat", @chat_room %>

<h3>Messages</h3>
<div id="messages_list">
  <%= render @messages %>
</div>

<hr>

<div id="new-message">
  <h3>New Message</h3>
  <%= render "simple_chat/messages/form", message: @message %>
</div>
<p><%= button_to "Leave Chat Room", chat_room_chat_member_path(@chat_room, "current"), method: :delete, data: { confirm: "Are you sure?" } %></p>

<hr>

<div>
  <%= link_to "Edit this chat room", edit_chat_room_path(@chat_room) %> |
  <%= link_to "Back to chat rooms", chat_rooms_path %>

  <%= button_to "Destroy this chat room", @chat_room, method: :delete %>
</div>
