<p style="color: green"><%= notice %></p>

<%= render @chat_room %>

<div id="messages">
  <h3>Messages</h3>
  <%= render @messages %>
</div>

<hr>

<div id="new-message">
  <h3>New Message</h3>
  <%= render "simple_chat/messages/form", message: @message %>
</div>

<hr>

<div>
  <%= link_to "Edit this chat room", edit_chat_room_path(@chat_room) %> |
  <%= link_to "Back to chat rooms", chat_rooms_path %>

  <%= button_to "Destroy this chat room", @chat_room, method: :delete %>
</div>
